{% extends "base.html" %}

{% block title %}Shop{% endblock %}

{% block content %}
  <h1>Products</h1>
  {% if products %}
      <ul>
        {% for product in products %}
          <li>
            <a href="{% url 'shop:product_detail' product.slug %}">
              <h3>{{ product.name }}</h3>
            </a>
            <p>{{ product.price }} $</p>
            <p>{{ product.description|truncatechars:50 }}</p>
          </li>
        {% endfor %}
      </ul>
  {% else %}
      <p>No products available.</p>
  {% endif %}
{% endblock %}