{% extends "base.html" %}

{% block title %}Shop{% endblock %}

{% block content %}
  <h1 class="page-title">Products</h1>
  {% if products %}
      <div class="product-grid">
        {% for product in products %}
          <div class="product-card">
            <a href="{% url 'shop:product_detail' product.slug %}">
              <h3>{{ product.name }}</h3>
            </a>
            <p class="price">{{ product.price }} $</p>
            <p>{{ product.description|truncatechars:50 }}</p>
          </div>
        {% endfor %}
      </div>
  {% else %}
      <p>No products available.</p>
  {% endif %}
{% endblock %}
